.InputCheckbox {
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}

.label{
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

.label input {
  position: relative;
  margin: 0 10px 0 0;
}
