//@import 'https://fonts.googleapis.com/css?family=Roboto';

#configurator {
  display: flex;
  height: 100%;
}

#formContainer {
  flex-grow: 1;
  padding: 15px;
  padding-bottom: 0px;
  padding-top: 10px;
  padding-right: 0;
}

#rightContainer {
  flex-grow: 1;
  padding: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#headline {
  text-align: left;
}

#hr {
  background: black;
}

